@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500");

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    text-align: center;
}

h1 {
    font-size: 48px !important;
    line-height: 100%;
    color: #FFFFFF;
    margin: 0 0 40px;
}

p {
    font-size: 18px;
    color: rgba(0,0, 0, .5);
}

.table-display {
    display: table !important;
}
.table-display .table-cell {
    display: table-cell !important;
    float: none;
}

.learn-more-btn {
    display: inline-block;
    padding: 15px 32px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    background: #FFFFFF;
    text-decoration: none !important;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 40px;
    border-radius: 100px;
    color: #2353CA;
    border: 0.5px solid #BDBDBD;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 100%;
}
.learn-more-btn > img {
    max-width: 22px;
    margin-right: 8px;
    vertical-align: text-bottom;
}
.learn-more-btn.messenger {
    border: none;
    margin-top: 60px;
}

.navbar-default .navbar-collapse {
    /*border: none;*/
}
.navbar.navbar-default {
    border-radius: 0;
    background-color: transparent;
    margin: 0 100px 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    border-width: 0 0 1px;
    border-bottom-color: rgba(255, 255, 255, .5);
    /*-webkit-border-image: -webkit-radial-gradient(0.50px at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);*/
    /*-webkit-border-image: -webkit-radial-gradient(0.50px at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);*/
    /*-moz-border-image: -moz-radial-gradient(0.50px at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);*/
    /*-o-border-image: -o-radial-gradient(0.50px at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);*/
    /*border-image: radial-gradient(0.50px at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);*/
}
.navbar.navbar-default .container-fluid {
    padding: 0 100px;
}
.navbar-default .navbar-brand {
    margin-left: 0;
    padding: 20px;
    font-weight: 500;
    font-size: 21px;
    line-height: 100%;
    letter-spacing: 8.4px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.7);
}
.navbar-default .navbar-nav>li>a {
    font-size: 18px;
    padding: 30px 16px;
    line-height: 100%;
    /*font-weight: normal;*/
    /*color: rgba(0, 0, 0, 0.4) !important;*/
    opacity: .5;
}
.navbar-default .navbar-nav>.active>a {
    /*color: rgba(0, 0, 0, 0.7) !important;*/
    /*font-weight: 500;*/
    /*background-color: transparent !important;*/
    /*border-bottom: 4px solid #C4C4C4;*/
}

.top {
    padding-right: 30px;
    padding-left: 30px;
}

.slide-1 .top {
    background: url("../images/header-img.png") center;
    background-size: cover;
    display: table;
    float: left;
    width: 100%;
    height: 100vh;
}
.slide-1 .top .inner {
    display: table-cell;
    float: none;
    vertical-align: middle;
    padding: 80px 15px 15px;
}
.slide-1 .top h1 {
    color: #FFFFFF;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 844px;
    margin: 0 auto;
}
.slide-1 .top p {
    display: block;
    max-width: 750px;
    margin: 10px auto 0;
    line-height: 100%;
    color: rgba(255, 255, 255, 0.8);
}
/*Slide-1 styles end*/

/*Slide-2 styles begin*/
.slide-2,
.slide-3,
.slide-4,
.slide-5,
.slide-6 {
    padding: 80px 0;
    background: #ffffff;
    border: solid rgba(0, 0, 0, .2);
    border-width: 0 0 1px;
    margin: 0 40px;
}
    .slide-2 h1,
    .slide-3 h1,
    .slide-4 h1,
    .slide-5 h1 {
        color: #2353CA;
    }
    .slide-2 p {
        max-width: 700px;
        display: block;
        margin: auto;
    }
/*Slide-2 styles end*/

/*Slide-3 styles begin*/
.slide-3,
.slide-4,
.slide-5 {
    text-align: left;
}

.img-container {
    padding: 30px 0 30px 30px;
}
    .img-container > img {
        /*margin: auto;*/
        max-width: 100%;
    }

.consultation {
    vertical-align: middle;
    padding-left: 40px;
}
    .consultation h1,
    .consultation p{
        max-width: 80%;
        display: block;
        margin: 0 auto 40px;
    }

/*Slide-4 styles*/
.slide-4 .consultation {
    padding-left: 0;
}
    .slide-4 .consultation h1,
    .slide-4 .consultation p {
        margin: 0 30px 40px;
    }
.slide-4 .img-container {
    padding: 30px 30px 30px 0;
}
/*Slide-4 styles end*/

.slide-6 {
    margin: 0;
    background: url("../images/bg.png") center;
    background-size: cover;
    display: table;
    float: left;
    width: 100%;
    font-family: "Open Sans", sans-serif;
}
    .slide-6 h1 {
        color: #ffffff;
        margin-top: 0;
    }
    .slide-6 h1:last-child {
        margin-bottom: 0;
    }

/*@media (max-width: 1199px) {*/
    /*h1 {*/
        /*font-size: 42px !important;*/
    /*}*/
    /*p {*/
        /*font-size: 19px !important;*/
    /*}*/
    /*.form input {*/
        /*font-size: 19px;*/
        /*padding: 12px 16px;*/
    /*}*/
    /*.inline-emoji {*/
        /*width: 32px;*/
    /*}*/

    /*.arnold-benefits .benefits-list {*/
        /*padding-top: 20px;*/
    /*}*/
        /*.arnold-benefits .benefits-list > li {*/
            /*font-size: 19px;*/
        /*}*/
/*}*/

/*@media (max-width: 1083px) {*/
    /*.arnold-benefits .benefits-list {*/
        /*padding-top: 10px;*/
    /*}*/
        /*.arnold-benefits .benefits-list > li:last-child {*/
            /*margin-bottom: 0;*/
        /*}*/
/*}*/

/*@media (max-width: 991px) {*/
    /*.slide-4 .bottom .writing {*/
        /*padding: 0 20px;*/
    /*}*/
/*}*/

/*@media (max-width: 767px) {*/
    /*body {*/
        /*text-align: center;*/
    /*}*/
    /*.login-page {*/
        /*padding-top: 0;*/
        /*margin-top: -15px;*/
    /*}*/
    /*.inline-emoji {*/
        /*display: none;*/
    /*}*/
    /*.top-heading {*/
        /*!*text-align: center;*!*/
    /*}*/
    /*.table-display {*/
        /*display: block;*/
    /*}*/
        /*.table-display .table-cell {*/
            /*display: block;*/
        /*}*/
    /*.arnold-benefits {*/
        /*padding-left: 30px;*/
        /*padding-right: 30px;*/
    /*}*/
        /*.arnold-benefits .benefits-list {*/
            /*text-align: left;*/
            /*margin: 20px auto 30px;*/
        /*}*/
            /*.arnold-benefits .benefits-list > li .inline-emoji {*/
                /*display: inline-block;*/
            /*}*/

    /*.next-line {*/
        /*display: block;*/
    /*}*/

    /*.slide-2,*/
    /*.slide-3 {*/
        /*padding-top: 60px;*/
    /*}*/

    /*.slide-2 .arnold-benefits,*/
    /*.slide-3 .arnold-benefits {*/
        /*padding-left: 36px;*/
        /*padding-right: 36px;*/
    /*}*/

    /*.slide-2 .arnold-example,*/
    /*.slide-3 .arnold-example {*/
        /*padding-left: 36px;*/
        /*padding-right: 36px;*/
    /*}*/

    /*.slide-4 {*/
        /*padding-bottom: 60px;*/
    /*}*/

    /*.slide-4 .top {*/
        /*padding-top: 50px;*/
        /*padding-bottom: 60px;*/
    /*}*/

    /*.slide-4 .middle {*/
        /*padding-top: 50px;*/
        /*padding-left: 36px;*/
        /*padding-right: 36px;*/
    /*}*/

    /*.slide-4 .bottom .writing {*/
        /*margin-top: 15px;*/
        /*margin-bottom: 15px;*/
    /*}*/

    /*.slide-5 .form {*/
        /*padding-top: 40px;*/
        /*padding-bottom: 60px;*/
    /*}*/
/*}*/

/*@media (max-width: 666px) {*/
    /*.login-page {*/
        /*width: 100%;*/
    /*}*/
    /*.slide-4 .bottom .writing {*/
        /*padding: 0 10px;*/
    /*}*/
    /*.slide-5 .login-page {*/
        /*width: 100%;*/
    /*}*/

    /*.form input {*/
        /*width: 69%;*/
        /*height: 100%;*/
    /*}*/
    /*.form button {*/
        /*width: 30%;*/
        /*font-size: 19px;*/
        /*height: 52px;*/
        /*padding-top: 14px;*/
    /*}*/
    /*.form .success-message {*/
        /*width: 99%;*/
        /*height: 52px;*/
    /*}*/
        /*.form .success-message p {*/
            /*margin-top: 14px;*/
        /*}*/
    /*.form .error-message {*/
        /*margin-top: 10px;*/
        /*width: 99%;*/
        /*height: 44px;*/
        /*padding-right: 1%;*/
        /*padding-left: 1%;*/
    /*}*/
        /*.form .error-message p {*/
            /*padding-top: 10px;*/
        /*}*/
    /*.form .error-message > img {*/
        /*margin: 12px 0 0 0;*/
    /*}*/
    /*.form .error-message > p {*/
        /*margin-bottom: 0;*/
        /*padding-bottom: 12px;*/
    /*}*/
/*}*/

/*@media (max-width: 566px) {*/
    /*.sub-heading:before {*/
        /*content: '\a';*/
        /*white-space: pre;*/
    /*}*/
    /*.inputBlock {*/
        /*height: 54px;*/
    /*}*/
    /*.slide-1 {*/
        /*width: 100%;*/
    /*}*/
    /*.slide-1 .login-page {*/
        /*width: 100%;*/
        /*padding-top: 0;*/
        /*margin-top: -30px;*/
    /*}*/
    /*.form h1 {*/
        /*font-size: 40px;*/
    /*}*/
    /*.form p {*/
        /*font-size: 16px;*/
        /*margin-bottom: 60px;*/
    /*}*/
    /*.form input {*/
        /*width: 69%;*/
        /*height: 100%;*/
        /*padding: 12px 10px;*/
        /*margin: 0;*/
        /*vertical-align: middle;*/
        /*font-size: 16px;*/
    /*}*/
    /*.form button {*/
        /*width: 30%;*/
        /*font-size: 16px;*/
        /*height: 100%;*/
        /*padding: 0;*/
        /*vertical-align: middle;*/
    /*}*/
    /*.form .success-message {*/
        /*width: 99%;*/
        /*height: auto;*/
    /*}*/
    /*.form .error-message {*/
        /*margin-top: 10px;*/
        /*width: 97%;*/
        /*height: auto;*/
        /*padding-right: 1%;*/
        /*padding-left: 1%;*/
    /*}*/
        /*.form .error-message > img {*/
            /*margin: 12px 0 0 0;*/
        /*}*/
       /*.form .error-message > p {*/
           /*margin-bottom: 0;*/
           /*padding-bottom: 12px;*/
       /*}*/
/*}*/

/*@media (max-width: 460px) {*/
    /*.form {*/
        /*padding: 20px;*/
    /*}*/
/*}*/
