@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,900");

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.overflow-y-hidden {
    overflow-y: hidden !important;
}

#widget-container {
    position: fixed;
    z-index: 10000;
    right: 0;
    bottom: 0;
    font-family: "Source Sans Pro", sans-serif;
}

#widget-container.left {
    right: auto;
    left: 0;
}

#widget-container.left {
    right: auto;
    left: 0;
}

#widget-container.left .widget-launcher,
#widget-container.left .anychat-chat-icon {
    right: auto;
    left: 14px;
}

.widget-launcher {
    float: left;
    cursor: pointer;
    position: absolute;
    height: 48px;
    width: 64px;
    right: 35px;
    bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05), 0 15px 30px -10px rgba(0, 0, 0, 0.3);
}

.widget-launcher {
    transition: color 0.7s;
    -webkit-transition: color 0.7s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #448AFF;
    -moz-box-shadow: 0 6px 6px 0 rgba(0,0,0,0.24);
    -webkit-box-shadow: 0 6px 6px 0 rgba(0,0,0,0.24);
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.24);
    z-index: 3;
    position: relative;
}

.widget-launcher .arrow-down {
    position: absolute;
    bottom: -10px;
    left: 22px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #448AFF;
}

.widget-launcher i {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    font-size: 35px;
    line-height: 100%;
}

#widget-container.left .anychat-chat-icon.anychat-panel {
    left: auto;
}

.widget-launcher.widget-launcher-active .anychat-brand {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
}

#chat-window {
    /*overflow: hidden;*/
    border: 1px solid rgba(0, 0, 0, .14);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    z-index: 4;
    /*padding: 30px;*/
}
#chat-window.no-border {
    border: none;
    border-radius: 3px;
}

#chat-window .chat-top {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    /*right: 50%;*/
    /*transform: translateX(50%);*/
    width: 100%;
    height: 30px;
    /*box-shadow: 0 0 6px 6px rgba(0, 0, 0, .25);*/
    /*border-radius: 18px;*/
    background: #ffffff;
    padding: 2px 10px;
    /*margin: 4px 0;*/
    top: 0;
}

#chat-window .close-btn {
    position: absolute;
    right: 9px;
    top: 9px
}

#chat-window .close-btn:before {
    content: "\00d7";
    color: rgba(0, 0, 0, .75);
    cursor: pointer;
    font-size: 20px;
    line-height: 100%;
}

#chat-window .message-container {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #ffffff;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    padding: 30px;
    text-align: center;
    width: 276px;
}

#chat-window .message-container .FB-btn {
    padding: 9px 18px;
    background-color: #448AFF;
    border-radius: 3px;
    text-decoration: none;
    margin-top: 15px;
    color: #ffffff;
    font-weight: 600;
}

#chat-window .message-container .FB-btn > img {
    margin: 0 10px 0 0;
    height: 18px;
    width: 18px;
    vertical-align: middle;
}

#chat-window .message-container img {
    width: 94px;
    height: 94px;
    margin: 20px auto 15px;
}

#chat-window .message-container p {
    font-size: 13px;
    line-height: 15px;
    color: #354052;
}

.reva-link {
    color: #2481b7;
    margin-bottom: 10px;
    width: fit-content;
    align-self: center;
}